body {
	background: #273549;
	color: white;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "slnt" 0;
}

#green {
	color: #4adf86;
}

.pw-box {
	width: 446px;
	padding: 75px 52px;
	position: relative;
	margin: auto;
	border-radius: 2px;
	background-color: #1f2937;
}

h1 {
	width: 355px;
	font-size: 40px;
	line-height: 40px;
	margin-bottom: -10px;
}

p {
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 50px;
	font-weight: 300;
}

button {
	color: white;
	background-color: #10b981;
	border-radius: 6px;
	border: none;
	padding: 9px 15px 9px 17px;
	margin-bottom: 35px;
}

.passwords {
	width: 446px;
	display: flex;
	justify-content: space-between;
	margin: 0;
}

hr {
	display: block;
	height: 1px;
	width: 446px;
	border: 0;
	border-top: 1px solid #2f3e53;
	margin: 0 0 40px 0;
}

#password-el1,
#password-el2 {
	align-content: center;
	width: 211px;
	height: 39px;
	background-color: #273549;
	border-radius: 6px;
	color: #55f991;
	text-align: center;
	font-size: 16px;
}
